{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8" />
  <title>Seleccionar área y puesto</title>
  <link rel="stylesheet" href="{% static 'CSS/login_styles.css' %}">
</head>
<body>
<div class="login-bg">
  <div class="login-card">
    <h2>Selecciona área y puesto</h2>
    <form method="post">
      {% csrf_token %}
      <label>Área y Puesto</label>
      <select name="rol_id">
        {% for r in roles %}
          <option value="{{ r.idroles }}">{{ r.nombrearea }} - {{ r.nombrerol }}</option>
        {% endfor %}
      </select>
      <button type="submit">Entrar</button>
    </form>
  </div>
</div>
</body>
</html>



