<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/caja/Static/CSS/menucaja.css">
    <title>Menu de Caja</title>
</head>
<body>
    <div class="MenuCaja">
        <div class="grisarriba"></div>
        <div class="EncabezadoMenuCaja">
            <div class="EncabezadoUsuario">
                <p>👤 Cajero: (usuario)</p>
            </div>
            <div class="EncabezadoMontoIni">
                <p>💰 Monto Inicial: (dinero)</p>
            </div>

        </div>
        <div class="MenuCajaCuerpo">
            <div class="AperturaBoton">
                <a href="aperturadecaja.html" id="boton-apertura" class="botonapertura">Apertura de Caja</a>
            </div>
            <div class="CierreBoton">
                <button id="boton-apertura" class="botoncierre">Ciere de Caja</button>
            </div>
            <div class="VentaBoton">
                <button id="boton-apertura" class="botonventa">Registrar Venta</button>
            </div>

        </div>
        <div class="Final">
            <div class="BotonCerrarSesion">
                <a href="index.html" id="botoncerrar" class="botoncerrar">Cerrar Sesion</a>
            </div>
        </div>
    </div>
</body>
     
</html>